{
  "presets": ["env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "server": "./server",
          "client": "./client",
          "common": "./client/src/common"
        }
      }
    ]
  ]
}
