{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "test": "./test",
          "underscore": "lodash",
          "server": "./server",
          "client": "./client",
          "common": "./client/src/common"
        }
      }
    ],
    "transform-es2015-destructuring", 
    "transform-object-rest-spread"
  ]
}
