/* .card-collapse {
  display: block;
  height: auto;
  max-height: 0;
  transition: all 1s linear;
}

.card-collapse.open {
  max-height: 300px;
} */

/* .details-expanded {
  height: auto;
}

.details-collapsed {
  height: 0;
  max-height: 0;
  transition: max-height 500ms linear;
} */



.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.collapsible-content.open {
  max-height: 350px;
}
