.sidebar-wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  position: relative;
  width: 250px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: #545c64;
  transition: all 0.3s;
  margin-top: -20px; /* to account for 20px body padding in index.css */
  margin-right: 30px;
  margin-left: -250px;
}

#sidebar.active {
  margin-left: 0px;
}

#sidebar-button {
  position: relative;
  right: -250px;
  padding: 20px 0px 0px 15px;
}

#sidebar-button:focus {
  box-shadow: none;
}

.sidebar-icon.active {
  color: orange;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color:orange;
}
.sidebar-icon {
  color: #b3b3b3;
  padding-bottom: 10px;
  text-align: center;
}

.menu-container {
  position: relative;
  top: -30px;
  left: 0;
}

#version-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #b3b3b3;
}